body {
    margin: 0;
    padding: 0;
    max-width:1920px;
}

header {
    margin: 0;
    padding: 0;
}

.nav_list {
    list-style: none;
    display: flex;
}

hr {
    margin:0 20px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

ul {
    list-style: none;
}

p {
    margin: 0;
}

header{
    display: flex;
    justify-content: flex-end;
    margin-right: 60px;
}

.small_menu {
    display:none;
}

header a {
    padding: 27px 0 0 33px;
    text-decoration: none;
    color: #000;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
}

.first_section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding:180px 148px 0 148px;
}

.text_info {
    max-width: 506px;
}

.text_info h1 {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
}

.text_info p {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
    margin-top: 40px;
}

.text_info button {
    padding: 9px 21px 17px 20px;
    margin-top:38px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
    background: #FF6464;
    border-radius: 2px;
}

.first_section img {
    border-radius:50%;
    width:243px;
    height:243px;
}

.second_section {
    background: #EDF7FA;
    margin-top:71px;
}

.second_section_wrapper {
    padding:0 148px 0 148px;
}

.section_head {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.section_head span {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    color: #21243D;
}

.section_head a {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #00A8CC;
}

.recent_posts {
    display:flex;
    justify-content: space-between;
    padding-bottom: 32px;
}

.recent_posts div {
    max-width: 418px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
}

.left_post {
    height:245px;
    padding: 24px 21px 0 23px;
    margin-right:23px;
}
.post_tag {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    color: #21243D;
}

.left_post div {
    padding-right:100px;
    display:flex;
    justify-content:flex-start;
    align-items: center;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #21243D;
    padding:17px 0 11px 0;
}

.vl {
    width:1px;
    height:12px;
    background: #000;
}

.left_post p {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
}

.right_post {
    height:245px;
    padding: 24px 21px 0 23px;
    margin-right:23px;
}

.right_post div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #21243D;
    padding:17px 0 11px 0;
}

.right_post p {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
}

.third_section {
    padding:17px 148px 0 148px;
}

.section_name {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    color: #21243D;
}

.work_list{
    display: flex;
}

.discription {
    padding-left:18px;
}

.img::after {
    content: "";
    background-color: #E0E0E0;
    height: 1px;
    display: flex;
    flex-direction: column;
}

.discription div {
    display: flex;
    align-items: center;
    padding: 17px 0 16px 0;
}

.year {
    max-height: 0px;
    width: 62px;
    margin-right:26px;
    background: #142850;
    border-radius: 16px;
}

.year span{
    padding:0 10px;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 60px;
    color: #FFFFFF;
}

.name_of_work {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
}

.name_of_work a {
    text-decoration: none;
    color: #21243D;
}

.type_of_work {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
}

.separator {
    margin: 15px 0 30px 0 ;
    background-color: #E0E0E0;
}

footer {
    margin-top:83px;
}

.social {
    display: flex;
    justify-content: center;
}

.social ul {
    display: flex;
}
.social a {
    padding-left: 35px;
}
footer span {
    display: flex;
    justify-content: center;
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #21243D;
    margin:0 0 0 75px ;
}